/****************************************
    BEList
*****************************************/
.be-title {
    font-size: 18px;
}
.be-description {
    font-size : 12px;
}

.be-list .be-last-cell .icon {
    float: right;
}

.be-list table tr td {
    vertical-align: middle;
}

/****************************************
    BEList Pagination
*****************************************/
.be-nav-pagination {
    text-align: center;
}
