/****************************************
    TEList
*****************************************/
.te-list tr:hover {
  cursor : pointer;
}

.te-list a {
  text-decoration: none;
  color : #777;
}
.te-list a:hover {
  text-decoration: none;
}

.te-title {
    font-size: 18px;
}
.te-description {
    font-size : 12px;
}

.te-list .icon {
  float : left;
}
.te-list .te-content {
  float : left;
}
.te-list .te-last-cell .te-list-icons {
    float: right;
}

.te-list .te-table-cell a {
  width : 100%;
}

.te-list table.te-table tr.te-table-row td.te-table-cell {
    vertical-align: middle;
}
