/****************************************
    TEList
*****************************************/
.te-title {
    font-size: 18px;
}
.te-description {
    font-size : 12px;
}

.te-list .te-last-cell .icon {
    float: right;
}

.te-list table tr td {
    vertical-align: middle;
}

/****************************************
    TEList Pagination
*****************************************/
.te-nav-pagination {
    text-align: center;
}
