/******************************************
    Footer
*******************************************/
#be-footer {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
}

.be-footer-item {
    text-align: center;
}

.be-footer-item .be-footer-icon {
    font-size: 18px;
}

.be-footer-item .be-footer-label {
    font-size: 12px;
}
